@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    width: 100%;
    max-width: 1500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.386);
    transition: box-shadow 0.3s linear;
}

.card:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.386);
}

header {
    background-image: url("./assets/home-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}